{
  "openapi": "3.1.0",
  "info": {
    "title": "Primate Vision API",
    "version": "1.0.0-alpha",
    "description": "Public API v1 for Primate Vision — video understanding for the agentic web. P1 (PRI-430) publishes resource schemas; endpoints ship from P3 onward.",
    "contact": {
      "email": "support@primateintelligence.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.primateintelligence.ai",
      "description": "Production"
    },
    {
      "url": "https://api.dev.primateintelligence.ai",
      "description": "Development"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key (pv_live_… / pv_test_…). Clerk session JWTs are accepted on the same endpoints for first-party clients."
      }
    },
    "schemas": {
      "VideoStatus": {
        "type": "string",
        "enum": [
          "awaiting_upload",
          "processing",
          "ready",
          "failed"
        ],
        "description": "Video lifecycle state (§14.1)."
      },
      "VideoUpload": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "PUT"
            ]
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-08T14:00:00Z"
          }
        },
        "required": [
          "method",
          "url",
          "headers",
          "expires_at"
        ],
        "description": "Presigned upload instructions. Present only while awaiting_upload. URL TTL 1h."
      },
      "VideoMedia": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-08T14:00:00Z"
          }
        },
        "required": [
          "url",
          "expires_at"
        ],
        "description": "Signed 1h playback URL for the source video (sign-on-read — re-fetch for a fresh URL). Null while not ready or when no stored source object exists."
      },
      "ErrorObject": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "code": {
            "type": "string",
            "example": "video_unreadable"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "Video": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^video_[0-9A-HJKMNP-TV-Z]{26}$",
            "description": "Video resource id (prefixed ULID). Immutable.",
            "example": "video_01KX12XX3BNM688AWHX7406HCF"
          },
          "object": {
            "type": "string",
            "enum": [
              "video"
            ]
          },
          "livemode": {
            "type": "boolean",
            "description": "true when the request used a live key; false for test keys and sandbox. Stripe-style."
          },
          "status": {
            "$ref": "#/components/schemas/VideoStatus"
          },
          "filename": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255
          },
          "size_bytes": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1,
            "maximum": 2147483648
          },
          "duration_s": {
            "type": [
              "number",
              "null"
            ],
            "exclusiveMinimum": 0
          },
          "width": {
            "type": [
              "integer",
              "null"
            ]
          },
          "height": {
            "type": [
              "integer",
              "null"
            ]
          },
          "fps": {
            "type": [
              "number",
              "null"
            ]
          },
          "content_type": {
            "type": "string",
            "enum": [
              "video/mp4",
              "video/quicktime"
            ]
          },
          "source": {
            "type": "string",
            "enum": [
              "upload",
              "url"
            ]
          },
          "upload": {
            "$ref": "#/components/schemas/VideoUpload"
          },
          "media": {
            "$ref": "#/components/schemas/VideoMedia"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorObject"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "maxLength": 500
            },
            "default": {},
            "description": "Free-form key/value metadata. ≤16 keys, key ≤40 chars [a-zA-Z0-9_.-], value ≤500 chars."
          },
          "expires_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2026-07-08T14:00:00Z"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-08T14:00:00Z"
          }
        },
        "required": [
          "id",
          "object",
          "livemode",
          "status",
          "filename",
          "size_bytes",
          "duration_s",
          "width",
          "height",
          "fps",
          "content_type",
          "source",
          "upload",
          "error",
          "expires_at",
          "created_at"
        ],
        "description": "A source video (§13.1)."
      },
      "AnalysisStatus": {
        "type": "string",
        "enum": [
          "queued",
          "preparing",
          "analyzing",
          "rendering",
          "completed",
          "failed",
          "canceled"
        ],
        "description": "Analysis lifecycle state (§14.2). Clients MUST tolerate unknown future non-terminal values."
      },
      "Progress": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "stage": {
            "type": "string"
          },
          "percent": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          }
        },
        "required": [
          "stage",
          "percent"
        ],
        "description": "Non-terminal only. percent is monotonic non-decreasing per analysis."
      },
      "Clip": {
        "type": "object",
        "properties": {
          "start_s": {
            "type": "number",
            "minimum": 0
          },
          "end_s": {
            "type": "number"
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "terms": {
            "type": "object",
            "additionalProperties": {
              "type": "number",
              "minimum": 0,
              "maximum": 1
            }
          }
        },
        "required": [
          "start_s",
          "end_s",
          "confidence",
          "terms"
        ]
      },
      "Result": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "answer": {
            "type": "string",
            "enum": [
              "yes",
              "no",
              "indeterminate"
            ]
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "clips": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Clip"
            },
            "maxItems": 500
          },
          "term_confidences": {
            "type": "object",
            "additionalProperties": {
              "type": "number",
              "minimum": 0,
              "maximum": 1
            }
          },
          "query_type": {
            "type": "string",
            "enum": [
              "object",
              "action",
              "compound",
              "attribute",
              "open_ended"
            ]
          },
          "video_duration_s": {
            "type": [
              "number",
              "null"
            ],
            "exclusiveMinimum": 0
          },
          "detected_count": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "indeterminate_reason": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "low_confidence",
              "nothing_detected",
              "unsupported_query_form",
              "duration_mismatch"
            ]
          }
        },
        "required": [
          "answer",
          "confidence",
          "clips",
          "term_confidences",
          "query_type",
          "video_duration_s"
        ],
        "description": "Analysis result — the product (§13.3). Reserved (always absent in v1): masks, bounding_boxes, events."
      },
      "Narrative": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "generating",
              "ready",
              "failed"
            ]
          },
          "entries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "t_s": {
                  "type": "number"
                },
                "text": {
                  "type": "string"
                }
              },
              "required": [
                "t_s",
                "text"
              ]
            }
          }
        },
        "required": [
          "status",
          "entries"
        ]
      },
      "Artifacts": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "annotated_video_url": {
            "type": "string",
            "format": "uri"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-08T14:00:00Z"
          }
        },
        "required": [
          "annotated_video_url",
          "expires_at"
        ],
        "description": "Signed URL TTL 1h; re-fetch GET analysis for a fresh URL."
      },
      "AnalysisUsage": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "billed_seconds": {
            "type": "integer",
            "minimum": 0
          },
          "credit_balance_after": {
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "required": [
          "billed_seconds",
          "credit_balance_after"
        ],
        "description": "Terminal only. fps-independent clock seconds (pricing doc). credit_balance_after is the balance immediately after THIS analysis settled — an immutable point-in-time snapshot; it does not change as later analyses run. Null when the account row is unavailable (e.g. free-grant exhausted before settlement)."
      },
      "Analysis": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^an_[0-9A-HJKMNP-TV-Z]{26}$",
            "description": "Analysis resource id (prefixed ULID).",
            "example": "an_01KX12XX3BNM688AWHX7406HCF"
          },
          "object": {
            "type": "string",
            "enum": [
              "analysis"
            ]
          },
          "livemode": {
            "type": "boolean",
            "description": "true when the request used a live key; false for test keys and sandbox. Stripe-style."
          },
          "origin": {
            "type": "string",
            "enum": [
              "api",
              "console",
              "system"
            ],
            "description": "`api` — submitted via the public API; `console` — uploaded via the dashboard; `system` — generated internally (e.g. auto-probe, fixture seeding, run_prompt). System analyses are never billed. Agents should normally only process api/console-origin analyses. (Renamed 2026-07-27: former value `user` is now `api`.)"
          },
          "status": {
            "$ref": "#/components/schemas/AnalysisStatus"
          },
          "video_id": {
            "type": "string",
            "pattern": "^video_[0-9A-HJKMNP-TV-Z]{26}$",
            "description": "Video resource id (prefixed ULID). Immutable.",
            "example": "video_01KX12XX3BNM688AWHX7406HCF"
          },
          "prompt": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 2000
          },
          "query": {
            "type": "object",
            "additionalProperties": {},
            "description": "CompiledQuery (schema at /v1/schemas/compiled-query.json). Always populated in responses."
          },
          "parse_mode": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "llm",
              "heuristic",
              "client"
            ]
          },
          "model": {
            "type": "string",
            "example": "darwin-1.3"
          },
          "options": {
            "type": "object",
            "properties": {
              "narrative": {
                "type": "boolean",
                "default": false
              }
            }
          },
          "progress": {
            "$ref": "#/components/schemas/Progress"
          },
          "queue_position": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1
          },
          "result": {
            "$ref": "#/components/schemas/Result"
          },
          "narrative": {
            "$ref": "#/components/schemas/Narrative"
          },
          "artifacts": {
            "$ref": "#/components/schemas/Artifacts"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorObject"
          },
          "usage": {
            "$ref": "#/components/schemas/AnalysisUsage"
          },
          "rerun_eligible": {
            "type": "boolean",
            "description": "PRI-493: present on failed analyses — true when this analysis qualifies for ONE free re-run (it failed during a platform incident, or was flagged by ops). POST /v1/analyses/{id}/rerun creates a fresh analysis at no charge. Absent on non-failed analyses."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "maxLength": 500
            },
            "default": {},
            "description": "Free-form key/value metadata. ≤16 keys, key ≤40 chars [a-zA-Z0-9_.-], value ≤500 chars."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-08T14:00:00Z"
          },
          "started_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2026-07-08T14:00:00Z"
          },
          "completed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2026-07-08T14:00:00Z"
          }
        },
        "required": [
          "id",
          "object",
          "livemode",
          "origin",
          "status",
          "video_id",
          "prompt",
          "query",
          "parse_mode",
          "model",
          "options",
          "progress",
          "queue_position",
          "result",
          "narrative",
          "artifacts",
          "error",
          "usage",
          "created_at",
          "started_at",
          "completed_at"
        ],
        "description": "A video analysis (§13.2)."
      },
      "StreamStatus": {
        "type": "string",
        "enum": [
          "queued",
          "ready",
          "live",
          "ended"
        ],
        "description": "Stream lifecycle state (§4.8): queued → ready → live → ended. Terminal immutable."
      },
      "StreamEndReason": {
        "type": [
          "string",
          "null"
        ],
        "enum": [
          "completed",
          "canceled",
          "insufficient_credits",
          "error",
          "timeout",
          "ice_failed",
          "media_timeout"
        ],
        "description": "Why the stream ended. completed — normal end after live. canceled — ended before going live (client action). insufficient_credits — balance exhausted. error — server-side failure. timeout — max_session_s cutoff. ice_failed — WebRTC ICE never connected (see failure_diagnostic). media_timeout — connected but no media/results within the first-frame window. A stream that never went live is never `completed`."
      },
      "StreamSignaling": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "url": {
            "type": "string",
            "description": "Versioned signaling WS. Auth: ?token= accepts a client token (pvct_) or first-party Clerk JWT — NEVER a secret key.",
            "example": "wss://api.primateintelligence.ai/v1/streams/st_01KX…/signal"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-08T14:00:00Z"
          }
        },
        "required": [
          "url",
          "expires_at"
        ],
        "description": "Present while the stream is joinable; null once ended."
      },
      "StreamLimits": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "max_session_s": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "description": "Plan entitlement (max_session_s) — hard session cutoff."
          },
          "warn_at_remaining_s": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "description": "The `warning {remaining_s}` threshold surfaced mid-stream."
          }
        },
        "required": [
          "max_session_s",
          "warn_at_remaining_s"
        ]
      },
      "StreamRecordingState": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "recording",
              "available",
              "failed",
              "none"
            ]
          }
        },
        "required": [
          "status"
        ],
        "description": "PRI-496: recording state — null unless the stream opted in with recording: true at create."
      },
      "StreamUsage": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "billed_seconds": {
            "type": "integer",
            "minimum": 0,
            "description": "LIVE-clock seconds (join/negotiation free). fps-independent by construction."
          },
          "credit_balance_after": {
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "required": [
          "billed_seconds",
          "credit_balance_after"
        ],
        "description": "Terminal only. Same ledger as uploads — one balance."
      },
      "Stream": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^st_[0-9A-HJKMNP-TV-Z]{26}$",
            "description": "Stream resource id (prefixed ULID). P6 §4.8.",
            "example": "st_01KX12XX3BNM688AWHX7406HCF"
          },
          "object": {
            "type": "string",
            "enum": [
              "stream"
            ]
          },
          "status": {
            "$ref": "#/components/schemas/StreamStatus"
          },
          "end_reason": {
            "$ref": "#/components/schemas/StreamEndReason"
          },
          "prompt": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 2000
          },
          "query": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {}
          },
          "model": {
            "type": "string",
            "example": "darwin-1.3"
          },
          "queue_position": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1
          },
          "estimated_start_s": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "signaling": {
            "$ref": "#/components/schemas/StreamSignaling"
          },
          "ice_servers": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "limits": {
            "$ref": "#/components/schemas/StreamLimits"
          },
          "duration_s": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "Live-clock duration. Terminal only."
          },
          "results_summary": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {},
            "description": "Terminal summary: {result_frames, frames (deprecated alias of result_frames — removed ~2026-08-28), last_detections}. result_frames counts result EVENTS emitted (results are sampled, not per-source-frame). Detection rows use the same enums/casing as the file-API result contract (answer: yes|no|indeterminate, lowercase; prompt echoed exactly as submitted)."
          },
          "failure_diagnostic": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {},
            "description": "Present when end_reason is ice_failed (and some media_timeout cases): ICE candidate summary from the server side — {local_candidates: string[], hint}. Use it to distinguish \"server advertised only private/host candidates\" from \"client could not reach relay\"."
          },
          "recording": {
            "$ref": "#/components/schemas/StreamRecordingState"
          },
          "usage": {
            "$ref": "#/components/schemas/StreamUsage"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "maxLength": 500
            },
            "default": {},
            "description": "Free-form key/value metadata. ≤16 keys, key ≤40 chars [a-zA-Z0-9_.-], value ≤500 chars."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-08T14:00:00Z"
          },
          "live_started_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2026-07-08T14:00:00Z"
          },
          "ended_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2026-07-08T14:00:00Z"
          }
        },
        "required": [
          "id",
          "object",
          "status",
          "end_reason",
          "prompt",
          "query",
          "model",
          "queue_position",
          "estimated_start_s",
          "signaling",
          "ice_servers",
          "limits",
          "duration_s",
          "results_summary",
          "failure_diagnostic",
          "usage",
          "created_at",
          "live_started_at",
          "ended_at"
        ],
        "description": "A real-time analysis stream (§4.8)."
      },
      "WebhookEventType": {
        "type": "string",
        "enum": [
          "video.ready",
          "video.failed",
          "analysis.completed",
          "analysis.failed",
          "analysis.canceled",
          "stream.ended"
        ],
        "description": "Closed v1 event vocabulary (§4.5). Payload = the full resource DTO."
      },
      "WebhookEndpoint": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^we_[0-9A-HJKMNP-TV-Z]{26}$",
            "description": "Webhook endpoint id (prefixed ULID).",
            "example": "we_01KX12XX3BNM688AWHX7406HCF"
          },
          "object": {
            "type": "string",
            "enum": [
              "webhook_endpoint"
            ]
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEventType"
            },
            "minItems": 1
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 500
          },
          "status": {
            "type": "string",
            "enum": [
              "enabled",
              "disabled"
            ]
          },
          "disabled_reason": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "auto_failure",
              "user"
            ],
            "description": "auto_failure = 72h of 100% delivery failure (§16.3). Re-enable via POST …/enable."
          },
          "secret": {
            "type": "string",
            "pattern": "^whsec_",
            "description": "Signing secret — returned EXACTLY ONCE (create / rotate_secret), never readable again."
          },
          "last_success_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2026-07-08T14:00:00Z"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-08T14:00:00Z"
          }
        },
        "required": [
          "id",
          "object",
          "url",
          "events",
          "description",
          "status",
          "disabled_reason",
          "last_success_at",
          "created_at"
        ],
        "description": "A customer webhook endpoint (§4.5). Standard Webhooks signing."
      },
      "WebhookDelivery": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^whd_[0-9A-HJKMNP-TV-Z]{26}$",
            "description": "Webhook delivery id (prefixed ULID).",
            "example": "whd_01KX12XX3BNM688AWHX7406HCF"
          },
          "object": {
            "type": "string",
            "enum": [
              "webhook_delivery"
            ]
          },
          "event_id": {
            "type": "string",
            "description": "Stable across retries — consumers dedupe on this.",
            "example": "evt_01KX12XX3BNM688AWHX7406HCF"
          },
          "event_type": {
            "$ref": "#/components/schemas/WebhookEventType"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "delivering",
              "delivered",
              "failed",
              "dead"
            ]
          },
          "attempt_count": {
            "type": "integer",
            "minimum": 0
          },
          "last_response_status": {
            "type": [
              "integer",
              "null"
            ]
          },
          "last_error": {
            "type": [
              "string",
              "null"
            ]
          },
          "next_attempt_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Null once delivered or dead-lettered.",
            "example": "2026-07-08T14:00:00Z"
          },
          "last_attempt_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2026-07-08T14:00:00Z"
          },
          "delivered_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2026-07-08T14:00:00Z"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-08T14:00:00Z"
          }
        },
        "required": [
          "id",
          "object",
          "event_id",
          "event_type",
          "status",
          "attempt_count",
          "last_response_status",
          "last_error",
          "next_attempt_at",
          "last_attempt_at",
          "delivered_at",
          "created_at"
        ],
        "description": "One event→endpoint delivery record (§16.3). Dead-lettered rows visible 30 days."
      },
      "Meter": {
        "type": "object",
        "properties": {
          "meter": {
            "type": "string",
            "example": "credit_seconds"
          },
          "unit": {
            "type": "string",
            "example": "seconds"
          },
          "balance": {
            "type": "number",
            "description": "Balance-shaped meters (e.g. credit_seconds)."
          },
          "limit": {
            "type": [
              "number",
              "null"
            ],
            "description": "null = unlimited/PAYG."
          },
          "used": {
            "type": "number",
            "description": "Period-shaped meters."
          },
          "resets_at": {
            "type": "string",
            "format": "date-time",
            "description": "Omitted for non-period meters.",
            "example": "2026-07-08T14:00:00Z"
          }
        },
        "required": [
          "meter",
          "unit"
        ],
        "description": "One named usage meter (§4.6). The list is data-driven — pricing changes add/change rows, never the schema."
      },
      "CreditPricing": {
        "type": "object",
        "properties": {
          "price_per_second_cents": {
            "type": "number",
            "description": "Price per billed video-second, in cents. Cost of an analysis = usage.billed_seconds × this value.",
            "example": 1
          },
          "signup_grant_seconds": {
            "type": "integer",
            "description": "Free credit-seconds granted on signup / free-grant upgrade.",
            "example": 6000
          },
          "card_grant_seconds": {
            "type": "integer",
            "description": "Bonus credit-seconds granted when a card is added.",
            "example": 0
          },
          "auto_refill_threshold_seconds": {
            "type": "integer",
            "description": "Balance below which auto-refill (if enabled) triggers."
          },
          "allowed_purchase_cents": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Preset purchase amounts, in cents."
          },
          "custom_purchase_enabled": {
            "type": "boolean"
          },
          "min_purchase_cents": {
            "type": "integer"
          },
          "batch_discount_pct": {
            "type": "integer",
            "description": "Batch analyses (POST /v1/analyses/batch): percent discount applied to each prompt after the first. The first prompt is always full price.",
            "example": 50
          },
          "batch_min_prompts": {
            "type": "integer",
            "description": "Minimum prompts accepted per batch request.",
            "example": 2
          },
          "batch_max_prompts": {
            "type": "integer",
            "description": "Maximum prompts accepted per batch request.",
            "example": 10
          }
        },
        "required": [
          "price_per_second_cents",
          "signup_grant_seconds",
          "card_grant_seconds",
          "auto_refill_threshold_seconds",
          "allowed_purchase_cents",
          "custom_purchase_enabled",
          "min_purchase_cents",
          "batch_discount_pct",
          "batch_min_prompts",
          "batch_max_prompts"
        ],
        "description": "Current pricing configuration. Data-driven — a price change is a config update, not a schema change. Batch discount included (PRI-508) — read it from here instead of hardcoding."
      },
      "ErrorEnvelope": {
        "type": "object",
        "properties": {
          "error": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ErrorObject"
              },
              {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "integer"
                  }
                },
                "required": [
                  "status"
                ]
              }
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "CreateVideoRequest": {
        "type": "object",
        "properties": {
          "filename": {
            "type": "string",
            "maxLength": 255
          },
          "content_type": {
            "type": "string",
            "enum": [
              "video/mp4",
              "video/quicktime"
            ],
            "description": "Required in presigned mode."
          },
          "size_bytes": {
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483648
          },
          "url": {
            "type": "string",
            "maxLength": 2048,
            "format": "uri",
            "description": "URL-ingest mode: https-only, SSRF-guarded (§18.2). Mutually exclusive with filename/size_bytes."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "maxLength": 500
            },
            "description": "Free-form key/value metadata. ≤16 keys, key ≤40 chars [a-zA-Z0-9_.-], value ≤500 chars."
          }
        },
        "description": "Exactly one mode: presigned ({filename?, content_type, size_bytes?}) or ingest ({url}). Unknown fields are rejected."
      },
      "VideoList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Video"
            }
          },
          "has_more": {
            "type": "boolean"
          }
        },
        "required": [
          "object",
          "data",
          "has_more"
        ]
      },
      "AnalysisList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Analysis"
            }
          },
          "has_more": {
            "type": "boolean"
          }
        },
        "required": [
          "object",
          "data",
          "has_more"
        ]
      },
      "DeletedVideo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^video_[0-9A-HJKMNP-TV-Z]{26}$",
            "description": "Video resource id (prefixed ULID). Immutable.",
            "example": "video_01KX12XX3BNM688AWHX7406HCF"
          },
          "object": {
            "type": "string",
            "enum": [
              "video"
            ]
          },
          "deleted": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "id",
          "object",
          "deleted"
        ]
      },
      "AnalysisPreview": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "analysis_preview"
            ]
          },
          "query": {
            "type": "object",
            "additionalProperties": {},
            "description": "The compiled query the analysis would run."
          },
          "parse_mode": {
            "type": "string",
            "enum": [
              "llm",
              "heuristic",
              "client"
            ],
            "description": "How the prompt was compiled. \"client\" means you supplied query directly."
          },
          "assessable": {
            "type": "boolean",
            "description": "False for open_ended queries — the model cannot score them, so detections will be empty."
          },
          "video_duration_s": {
            "type": [
              "number",
              "null"
            ],
            "description": "Null when duration is not yet known (probe pending)."
          },
          "estimated_seconds": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Billable seconds this analysis would consume. Null when duration is unknown."
          },
          "estimated_cost_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Estimated cost at current pricing. Null when duration is unknown."
          }
        },
        "required": [
          "object",
          "query",
          "parse_mode",
          "assessable",
          "video_duration_s",
          "estimated_seconds",
          "estimated_cost_usd"
        ]
      },
      "CreateAnalysisRequest": {
        "type": "object",
        "properties": {
          "video_id": {
            "type": "string",
            "pattern": "^video_[0-9A-HJKMNP-TV-Z]{26}$",
            "description": "Video resource id (prefixed ULID). Immutable.",
            "example": "video_01KX12XX3BNM688AWHX7406HCF"
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2000,
            "description": "Free text — compiled server-side. Exactly one of prompt/query."
          },
          "query": {
            "type": "object",
            "additionalProperties": {},
            "description": "Structured CompiledQuery JSON (schema at /v1/schemas/compiled-query.json)."
          },
          "model": {
            "type": "string",
            "description": "Defaults to latest; response always echoes the concrete version.",
            "example": "darwin-1.3"
          },
          "options": {
            "type": "object",
            "properties": {
              "narrative": {
                "type": "boolean",
                "default": false
              }
            },
            "description": "narrative: true — generate a narrative (timestamped event sentences) for the analysis. Populates the narrative object on the completed analysis; generation runs asynchronously after completion (poll the GET — status generating → ready|failed). Included in the analysis price."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "maxLength": 500
            },
            "description": "Free-form key/value metadata. ≤16 keys, key ≤40 chars [a-zA-Z0-9_.-], value ≤500 chars."
          },
          "webhook": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri"
              },
              "events": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "required": [
              "url",
              "events"
            ],
            "description": "Per-request webhook override (delivery ships P7). Write-only — never echoed."
          },
          "validate_only": {
            "type": "boolean",
            "description": "Dry run (PRI-480). Compiles the prompt, reports whether the query is assessable, and estimates duration/cost — WITHOUT creating an analysis, touching the GPU, or burning credits. Returns an AnalysisPreview (object: \"analysis_preview\") with 200, not an Analysis. Use it to check a prompt before paying for it.",
            "example": true
          }
        },
        "required": [
          "video_id"
        ]
      },
      "DemoVideoResult": {
        "type": "object",
        "properties": {
          "answer": {
            "type": [
              "string",
              "null"
            ]
          },
          "confidence": {
            "type": [
              "number",
              "null"
            ]
          },
          "query_type": {
            "type": [
              "string",
              "null"
            ]
          },
          "video_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Playable annotated result video (CDN)."
          },
          "computed_at": {
            "type": "string"
          }
        },
        "required": [
          "answer",
          "confidence",
          "query_type",
          "video_url",
          "computed_at"
        ],
        "description": "Precomputed result for one prompt. Documented subset — additional fields (result_json, clips) exist but are undocumented and may change."
      },
      "DemoVideo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "duration_seconds": {
            "type": [
              "number",
              "null"
            ]
          },
          "thumbnail_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "results_by_prompt": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/DemoVideoResult"
            },
            "description": "Map of prompt text → precomputed result."
          }
        },
        "required": [
          "id",
          "display_name",
          "duration_seconds",
          "thumbnail_url",
          "results_by_prompt"
        ]
      },
      "DemoVideoList": {
        "type": "object",
        "properties": {
          "videos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DemoVideo"
            }
          }
        },
        "required": [
          "videos"
        ]
      },
      "AnalysisBatchPreviewPrompt": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "Zero-based prompt index."
          },
          "query": {
            "type": "object",
            "additionalProperties": {},
            "description": "Compiled query structure."
          },
          "parse_mode": {
            "type": "string",
            "enum": [
              "heuristic",
              "llm",
              "client"
            ]
          },
          "assessable": {
            "type": "boolean",
            "description": "True when the query type can produce a yes/no/count answer."
          },
          "estimated_seconds": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Estimated credit-seconds for this prompt. Null when video has no known duration."
          },
          "estimated_cost_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Estimated cost in USD. Null when video has no known duration."
          },
          "discount_pct": {
            "anyOf": [
              {
                "type": "number",
                "enum": [
                  0
                ]
              },
              {
                "type": "number",
                "enum": [
                  50
                ]
              }
            ],
            "description": "0 for the first (full-price) prompt; the configured batch discount (GET /v1/credit-pricing batch_discount_pct) for additional prompts."
          }
        },
        "required": [
          "index",
          "query",
          "parse_mode",
          "assessable",
          "estimated_seconds",
          "estimated_cost_usd",
          "discount_pct"
        ]
      },
      "AnalysisBatchPricing": {
        "type": "object",
        "properties": {
          "full_price_prompts": {
            "type": "integer",
            "example": 1
          },
          "discounted_prompts": {
            "type": "integer",
            "example": 1
          },
          "discount_pct": {
            "type": "integer",
            "description": "Config-driven batch discount percent — the same value GET /v1/credit-pricing serves as batch_discount_pct.",
            "example": 50
          },
          "estimated_total_seconds": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Estimated total credit-seconds for all prompts combined (full + discounted). Null when the video has no known duration.",
            "example": 15
          },
          "estimated_total_cost_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "Estimated total cost in USD. Null when duration unknown.",
            "example": 0.15
          }
        },
        "required": [
          "full_price_prompts",
          "discounted_prompts",
          "discount_pct",
          "estimated_total_seconds",
          "estimated_total_cost_usd"
        ]
      },
      "AnalysisBatchPreview": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "analysis_batch_preview"
            ]
          },
          "video_id": {
            "type": "string",
            "pattern": "^video_[0-9A-HJKMNP-TV-Z]{26}$",
            "description": "Video resource id (prefixed ULID). Immutable.",
            "example": "video_01KX12XX3BNM688AWHX7406HCF"
          },
          "prompts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AnalysisBatchPreviewPrompt"
            }
          },
          "pricing": {
            "$ref": "#/components/schemas/AnalysisBatchPricing"
          }
        },
        "required": [
          "object",
          "video_id",
          "prompts",
          "pricing"
        ]
      },
      "AnalysisBatch": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "analysis_batch"
            ]
          },
          "id": {
            "type": "string",
            "description": "Stable batch identifier."
          },
          "video_id": {
            "type": "string",
            "pattern": "^video_[0-9A-HJKMNP-TV-Z]{26}$",
            "description": "Video resource id (prefixed ULID). Immutable.",
            "example": "video_01KX12XX3BNM688AWHX7406HCF"
          },
          "analyses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Analysis"
            }
          },
          "pricing": {
            "$ref": "#/components/schemas/AnalysisBatchPricing"
          }
        },
        "required": [
          "object",
          "id",
          "video_id",
          "analyses",
          "pricing"
        ]
      },
      "CreateAnalysisBatchRequest": {
        "type": "object",
        "properties": {
          "video_id": {
            "type": "string",
            "pattern": "^video_[0-9A-HJKMNP-TV-Z]{26}$",
            "description": "Video resource id (prefixed ULID). Immutable.",
            "example": "video_01KX12XX3BNM688AWHX7406HCF"
          },
          "prompts": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 2000
            },
            "minItems": 2,
            "maxItems": 10,
            "description": "2–10 prompts to run against the video. First prompt is full price; each additional is billed at 50% (default — the live discount is served by GET /v1/credit-pricing as batch_discount_pct)."
          },
          "model": {
            "type": "string",
            "example": "darwin-1.3"
          },
          "options": {
            "type": "object",
            "properties": {
              "narrative": {
                "type": "boolean",
                "default": false
              }
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "maxLength": 500
            },
            "description": "Free-form key/value metadata. ≤16 keys, key ≤40 chars [a-zA-Z0-9_.-], value ≤500 chars."
          },
          "validate_only": {
            "type": "boolean",
            "default": false,
            "description": "Dry-run mode. When true, parses all prompts and returns an analysis_batch_preview (HTTP 200) with per-prompt cost estimates. No credits are reserved and no jobs are created."
          }
        },
        "required": [
          "video_id",
          "prompts"
        ]
      },
      "Model": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "darwin-1.3"
          },
          "object": {
            "type": "string",
            "enum": [
              "model"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "stable",
              "preview",
              "deprecated"
            ]
          },
          "default": {
            "type": "boolean"
          },
          "capabilities": {
            "type": "object",
            "properties": {
              "prompt": {
                "type": "boolean"
              },
              "structured_query": {
                "type": "boolean"
              },
              "narrative": {
                "type": "boolean"
              },
              "streaming": {
                "type": "boolean"
              }
            },
            "required": [
              "prompt",
              "structured_query",
              "narrative",
              "streaming"
            ]
          },
          "sunset_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "object",
          "status",
          "default",
          "capabilities",
          "sunset_at",
          "created_at"
        ]
      },
      "ParseResponse": {
        "type": "object",
        "properties": {
          "compiled_query": {
            "type": "object",
            "additionalProperties": {},
            "description": "CompiledQuery — canonical JSON Schema served at /v1/schemas/compiled-query.json. Same structure accepted by POST /v1/analyses `query`."
          },
          "parse_mode": {
            "type": "string",
            "enum": [
              "haiku",
              "heuristic"
            ],
            "description": "How the prompt was compiled: \"haiku\" = LLM parser; \"heuristic\" = deterministic fallback (used when the LLM is unavailable)."
          }
        },
        "required": [
          "compiled_query",
          "parse_mode"
        ]
      },
      "ParseRequest": {
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string",
            "minLength": 1,
            "description": "Free-text video question. Must be a non-empty string.",
            "example": "Is there a dog in this video?"
          }
        },
        "required": [
          "prompt"
        ]
      },
      "ErrorRegistryEntry": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "http",
              "resource"
            ]
          },
          "status": {
            "type": [
              "integer",
              "null"
            ]
          },
          "retryable": {
            "type": "boolean"
          },
          "idem": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "docs_url": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "code",
          "kind",
          "status",
          "retryable",
          "idem",
          "message",
          "docs_url"
        ]
      },
      "ClientToken": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "client_token"
            ]
          },
          "id": {
            "type": "string"
          },
          "token": {
            "type": "string",
            "description": "256-bit CSPRNG bearer, SHA-256 at rest — shown exactly once. Browser-safe: accepted on product-plane endpoints (CORS *).",
            "example": "pvct_…"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "expires_at": {
            "type": "string"
          },
          "video_id": {
            "type": "string",
            "pattern": "^video_[0-9A-HJKMNP-TV-Z]{26}$",
            "description": "Video resource id (prefixed ULID). Immutable.",
            "example": "video_01KX12XX3BNM688AWHX7406HCF"
          },
          "stream_id": {
            "type": "string"
          }
        },
        "required": [
          "object",
          "id",
          "token",
          "scopes",
          "expires_at"
        ]
      },
      "CreateClientTokenRequest": {
        "type": "object",
        "properties": {
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "videos:write",
                "analyses:read",
                "analyses:write",
                "streams:create",
                "streams:signal"
              ]
            },
            "minItems": 1,
            "description": "Non-empty subset of the §4.9 scope set. Must also be a subset of the minting key’s scopes."
          },
          "ttl_s": {
            "type": "integer",
            "minimum": 60,
            "maximum": 900,
            "default": 900,
            "description": "Token lifetime in seconds (60–900, default 900). Tokens are never refreshable — mint a new one."
          },
          "video_id": {
            "type": "string",
            "pattern": "^video_[0-9A-HJKMNP-TV-Z]{26}$",
            "description": "Optional resource binding: narrows the token to this one video. Mutually exclusive with stream_id.",
            "example": "video_01KX12XX3BNM688AWHX7406HCF"
          },
          "stream_id": {
            "type": "string",
            "description": "Optional resource binding to one stream (WS acceptance ships P6)."
          }
        },
        "required": [
          "scopes"
        ]
      },
      "CreateStreamRequest": {
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2000,
            "description": "Free text — compiled server-side. Exactly one of prompt/query."
          },
          "query": {
            "type": "object",
            "additionalProperties": {},
            "description": "Structured CompiledQuery JSON."
          },
          "model": {
            "type": "string",
            "example": "darwin-1.3"
          },
          "options": {
            "type": "object",
            "properties": {
              "narrative": {
                "type": "boolean",
                "default": false
              }
            },
            "description": "narrative: true — opt into live narrative. Result-frame detections then carry a narrative_update object ({t_s, text}) whenever the engine produces a new sentence (event-driven, not per frame; absent on frames without one). Included in the per-second price."
          },
          "recording": {
            "type": "boolean",
            "description": "PRI-496: true — opt into retrieval of the server-side session recording. The ended stream then carries recording: {status} and GET /v1/streams/{id}/recording returns a signed 1h playback URL (raw H.264 elementary stream; lossless remux: ffmpeg -i in.h264 -c copy out.mp4). Default false."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "maxLength": 500
            },
            "description": "Free-form key/value metadata. ≤16 keys, key ≤40 chars [a-zA-Z0-9_.-], value ≤500 chars."
          },
          "webhook": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri"
              },
              "events": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "required": [
              "url",
              "events"
            ],
            "description": "Per-request webhook override (delivery ships P7). Write-only."
          }
        },
        "description": "Requires positive credit balance. One queued|ready|live stream per account by default (409 stream_already_active otherwise)."
      },
      "StreamList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Stream"
            }
          },
          "has_more": {
            "type": "boolean"
          }
        },
        "required": [
          "object",
          "data",
          "has_more"
        ]
      },
      "StreamRecording": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "stream_recording"
            ]
          },
          "stream_id": {
            "type": "string",
            "pattern": "^st_[0-9A-HJKMNP-TV-Z]{26}$",
            "description": "Stream resource id (prefixed ULID). P6 §4.8.",
            "example": "st_01KX12XX3BNM688AWHX7406HCF"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Signed playback URL — fresh on every GET, 1h TTL. Re-fetch for a new one."
          },
          "expires_at": {
            "type": "string",
            "description": "RFC 3339 expiry of the signed URL."
          },
          "content_type": {
            "type": "string",
            "enum": [
              "video/h264"
            ]
          },
          "container": {
            "type": "string",
            "enum": [
              "h264-annex-b"
            ],
            "description": "Raw H.264 Annex-B elementary stream. Lossless remux to MP4: ffmpeg -i in.h264 -c copy out.mp4."
          }
        },
        "required": [
          "object",
          "stream_id",
          "url",
          "expires_at",
          "content_type",
          "container"
        ]
      },
      "SandboxKey": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "sandbox_key"
            ]
          },
          "api_key": {
            "type": "string",
            "description": "Shown exactly once — store it now. Fixture-only test mode: no GPU, no credits.",
            "example": "pv_test_…"
          },
          "mode": {
            "type": "string",
            "enum": [
              "test"
            ]
          },
          "expires_at": {
            "type": "string",
            "description": "Keys expire 7 days after issuance."
          },
          "fixture_video_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pre-seeded ready video for immediate POST /v1/analyses."
          },
          "fixture_prompt": {
            "type": "string"
          },
          "expected_answer": {
            "type": "string",
            "description": "Deterministic canned answer for the fixture prompt — assert this in CI."
          },
          "docs_url": {
            "type": "string"
          },
          "note": {
            "type": "string"
          }
        },
        "required": [
          "object",
          "api_key",
          "mode",
          "expires_at",
          "fixture_video_id",
          "fixture_prompt",
          "expected_answer",
          "docs_url",
          "note"
        ]
      },
      "UpgradeKeyResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "api_key"
            ]
          },
          "livemode": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "api_key": {
            "type": "string",
            "description": "The raw `pv_live_` key — store securely, shown only once."
          },
          "tier": {
            "type": "string",
            "enum": [
              "free_grant"
            ]
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "grant_seconds": {
            "type": "integer",
            "example": 6000
          },
          "note": {
            "type": "string"
          },
          "claim_flow": {
            "type": "object",
            "properties": {
              "endpoint": {
                "type": "string"
              },
              "how": {
                "type": "string"
              }
            },
            "required": [
              "endpoint",
              "how"
            ]
          }
        },
        "required": [
          "object",
          "livemode",
          "api_key",
          "tier",
          "expires_at",
          "grant_seconds"
        ]
      },
      "UpgradeKeyRequest": {
        "type": "object",
        "properties": {
          "github_token": {
            "type": "string",
            "description": "PRI-479: GitHub OAuth access token from the device flow. Required when the GitHub gate is enabled (calling without one returns 403 github_verification_required with device-flow bootstrap details). Verified against GitHub and discarded — never stored. One free grant per GitHub account, ever."
          }
        }
      },
      "DeviceCodeRequest": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "device_code_request"
            ]
          },
          "device_code": {
            "type": "string",
            "description": "Opaque code; use as path param when polling."
          },
          "claim_url": {
            "type": "string",
            "format": "uri",
            "description": "Open in browser for the user to approve."
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "poll_interval": {
            "type": "integer",
            "description": "Seconds between polls.",
            "example": 5
          },
          "instructions": {
            "type": "string"
          }
        },
        "required": [
          "object",
          "device_code",
          "claim_url",
          "expires_at",
          "poll_interval"
        ]
      },
      "DeviceCodeStatus": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "device_code_request"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "consumed"
            ]
          }
        },
        "required": [
          "object",
          "status"
        ]
      },
      "CreateWebhookEndpointRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "maxLength": 2048,
            "format": "uri",
            "description": "HTTPS delivery URL."
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEventType"
            },
            "minItems": 1,
            "description": "Subscribed event types — a non-empty subset of the closed v1 vocabulary."
          },
          "description": {
            "type": "string",
            "maxLength": 500
          }
        },
        "required": [
          "url",
          "events"
        ]
      },
      "WebhookEndpointList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEndpoint"
            }
          },
          "has_more": {
            "type": "boolean"
          }
        },
        "required": [
          "object",
          "data",
          "has_more"
        ]
      },
      "WebhookDeliveryList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookDelivery"
            }
          },
          "has_more": {
            "type": "boolean"
          }
        },
        "required": [
          "object",
          "data",
          "has_more"
        ]
      },
      "UsageResponse": {
        "type": "object",
        "properties": {
          "meters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Meter"
            },
            "description": "Data-driven meter list (§4.6 invariant #1). At launch: credit_seconds (balance) + seconds_processed.period (used/resets_at). Pricing changes add/change rows — never the schema. quota_exceeded errors carry details.meter naming which meter tripped."
          }
        },
        "required": [
          "meters"
        ],
        "description": "Usage meters + legacy dashboard fields (the flat fields are deprecated in favor of meters[]; they remain during the web-client migration)."
      },
      "CreditTransaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "description": "e.g. signup_grant, analysis_debit, stream_debit, purchase.",
            "example": "signup_grant"
          },
          "seconds_delta": {
            "type": "number",
            "description": "Signed: negative debits, positive credits."
          },
          "balance_after_seconds": {
            "type": "number"
          },
          "source_type": {
            "type": [
              "string",
              "null"
            ]
          },
          "source_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "kind",
          "seconds_delta",
          "balance_after_seconds",
          "source_type",
          "source_id",
          "created_at"
        ]
      },
      "CreditsResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "credits"
            ]
          },
          "balance_seconds": {
            "type": "number",
            "description": "Seconds of analysis remaining. The authoritative balance."
          },
          "grant_seconds": {
            "type": [
              "number",
              "null"
            ],
            "description": "Original signup grant, when one exists."
          },
          "used_seconds": {
            "type": [
              "number",
              "null"
            ],
            "description": "Consumed against the signup grant (grant minus balance)."
          },
          "transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreditTransaction"
            }
          },
          "has_more": {
            "type": "boolean"
          }
        },
        "required": [
          "object",
          "balance_seconds",
          "grant_seconds",
          "used_seconds",
          "transactions",
          "has_more"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/v1/videos": {
      "post": {
        "summary": "Create a video (presigned upload or URL ingest)",
        "tags": [
          "videos"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            },
            "description": "§16.1: first request wins; 24h replay window; same key + different body → 409 idempotency_key_reused."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVideoRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Video created. Presigned mode → status awaiting_upload with upload instructions; URL mode → status processing (async fetch).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Video"
                }
              }
            }
          },
          "400": {
            "description": "validation_failed / url_forbidden / prompt errors (§15)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "invalid_api_key / key_revoked / key_expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "resource_not_found (account-scoped; no existence oracle)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "resource_conflict / idempotency_key_reused / idempotency_unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "rate_limit_exceeded / concurrency_limit_exceeded / quota_exceeded (always with Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List videos (cursor pagination, created_at desc)",
        "tags": [
          "videos"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor — mutually exclusive with ending_before."
          },
          {
            "name": "ending_before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List envelope (§13.4).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoList"
                }
              }
            }
          },
          "400": {
            "description": "validation_failed / url_forbidden / prompt errors (§15)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "invalid_api_key / key_revoked / key_expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "resource_not_found (account-scoped; no existence oracle)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "resource_conflict / idempotency_key_reused / idempotency_unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "rate_limit_exceeded / concurrency_limit_exceeded / quota_exceeded (always with Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/videos/{id}/complete": {
      "post": {
        "summary": "Signal that the presigned S3 PUT finished",
        "tags": [
          "videos"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Size verified (±5% of declaration); video is ready.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Video"
                }
              }
            }
          },
          "400": {
            "description": "validation_failed / url_forbidden / prompt errors (§15)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "invalid_api_key / key_revoked / key_expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "resource_not_found (account-scoped; no existence oracle)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "resource_conflict / idempotency_key_reused / idempotency_unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "rate_limit_exceeded / concurrency_limit_exceeded / quota_exceeded (always with Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/videos/{id}": {
      "get": {
        "summary": "Fetch a video",
        "tags": [
          "videos"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The video.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Video"
                }
              }
            }
          },
          "400": {
            "description": "validation_failed / url_forbidden / prompt errors (§15)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "invalid_api_key / key_revoked / key_expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "resource_not_found (account-scoped; no existence oracle)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "resource_conflict / idempotency_key_reused / idempotency_unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "rate_limit_exceeded / concurrency_limit_exceeded / quota_exceeded (always with Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a video (409 while analyses are non-terminal on it)",
        "tags": [
          "videos"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedVideo"
                }
              }
            }
          },
          "400": {
            "description": "validation_failed / url_forbidden / prompt errors (§15)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "invalid_api_key / key_revoked / key_expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "resource_not_found (account-scoped; no existence oracle)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "resource_conflict / idempotency_key_reused / idempotency_unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "rate_limit_exceeded / concurrency_limit_exceeded / quota_exceeded (always with Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/videos/{id}/analyses": {
      "get": {
        "summary": "List analyses for a video (result history)",
        "description": "PRI-496: resource-nested spelling of GET /v1/analyses?video_id={id}. Same list envelope, same filters (status, limit, starting_after), ordered created_at desc. Use it to rebuild a video's full analysis/session history.",
        "tags": [
          "videos",
          "analyses"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor — mutually exclusive with ending_before."
          },
          {
            "name": "ending_before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List envelope of analyses referencing this video (§13.4).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisList"
                }
              }
            }
          },
          "400": {
            "description": "validation_failed / url_forbidden / prompt errors (§15)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "invalid_api_key / key_revoked / key_expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "resource_not_found (account-scoped; no existence oracle)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "resource_conflict / idempotency_key_reused / idempotency_unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "rate_limit_exceeded / concurrency_limit_exceeded / quota_exceeded (always with Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/analyses": {
      "post": {
        "summary": "Create an analysis (video × prompt × model)",
        "description": "Async by default: 202 + poll. `Prefer: wait=<s>` (≤120) blocks and returns the terminal resource when it finishes in time. Test-mode keys (pv_test_) return deterministic canned results with no GPU time and no credit burn. Set `validate_only: true` to dry-run a prompt — returns an AnalysisPreview with cost/assessability and creates nothing.",
        "tags": [
          "analyses"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            },
            "description": "§16.1: first request wins; 24h replay window; same key + different body → 409 idempotency_key_reused."
          },
          {
            "name": "Prefer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "wait=<seconds> (cap 120)"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Terminal resource (Prefer: wait satisfied, or test mode) — OR an AnalysisPreview when validate_only:true was sent. Discriminate on the `object` field.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Analysis"
                    },
                    {
                      "$ref": "#/components/schemas/AnalysisPreview"
                    }
                  ]
                }
              }
            }
          },
          "202": {
            "description": "Queued. Response echoes the compiled query and honest queue_position.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Analysis"
                }
              }
            }
          },
          "400": {
            "description": "validation_failed / url_forbidden / prompt errors (§15)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "invalid_api_key / key_revoked / key_expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "insufficient_credits (details.meter = credit_seconds)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "resource_not_found (account-scoped; no existence oracle)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "resource_conflict / idempotency_key_reused / idempotency_unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "rate_limit_exceeded / concurrency_limit_exceeded / quota_exceeded (always with Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "inference_unavailable / capacity_exhausted (with Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List analyses (filters: status, video_id, model, created_*)",
        "tags": [
          "analyses"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor — mutually exclusive with ending_before."
          },
          {
            "name": "ending_before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by public analysis status (§13.2 vocabulary): queued | preparing | analyzing | rendering | completed | failed | canceled. E.g. status=analyzing returns currently-running analyses. Unknown values → 400 validation_failed."
          },
          {
            "name": "video_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "model",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List envelope (§13.4).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisList"
                }
              }
            }
          },
          "400": {
            "description": "validation_failed / url_forbidden / prompt errors (§15)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "invalid_api_key / key_revoked / key_expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "resource_not_found (account-scoped; no existence oracle)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "resource_conflict / idempotency_key_reused / idempotency_unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "rate_limit_exceeded / concurrency_limit_exceeded / quota_exceeded (always with Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/analyses/{id}": {
      "get": {
        "summary": "Fetch an analysis (live progress while running)",
        "tags": [
          "analyses"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The analysis. progress uses the canonical stage set queued→preparing→analyzing→rendering.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Analysis"
                }
              }
            }
          },
          "400": {
            "description": "validation_failed / url_forbidden / prompt errors (§15)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "invalid_api_key / key_revoked / key_expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "resource_not_found (account-scoped; no existence oracle)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "resource_conflict / idempotency_key_reused / idempotency_unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "rate_limit_exceeded / concurrency_limit_exceeded / quota_exceeded (always with Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/demo-videos": {
      "get": {
        "summary": "Public sample videos with precomputed results (no auth)",
[...]
